**/__pycache__/
**/*.egg-info/
**/*.so
**/*.o
**/*.dat
**/*.py[cod]
**/*$py.class
**/IERS
**/Deprecated
**/*.env
**/*.tif
**/*.tiff
**/*.png
**/Orbit_GPU_CPP/
**/build/
**/*.ipynb
**/*.gpkg
**/testing/
**/*.hdf5
**/files/
**/Modulator/